if books.length > 0
  table.book-list
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
    each book in books
      tr
        td
          a(href='/books/' + book.id)= book.title
        td= book.author
        td= book.genre
        td= book.year
  if pageParams
    .pagination
      - var num = 1;
      ul
        while num <= pageParams.numberOfPages
          li
            if (num === pageParams.page)
              a.active= num++
            else
              if (pageParams.q)
                a(href=`/books/search?q=${pageParams.q}&page=${num}`)= num++
              else
                a(href=`/books?page=${num}`)= num++
else
  .no-results
    p No results found.  Please try a different search.

.text-center.footer
  a.button(href='/') Back to Home
  a.button(href='/books/view-all') View Entire Library